#dark {
  background: rgba(77, 72, 72, 0.76);
}

#light {
  background: rgba(255, 251, 251, 0.76);
}

.dark-background {
  background-color: rgba(54, 51, 51, 0.76);
}

.light-background {
  background-color: rgba(255, 251, 251, 0.76);
}

body {
  background-color: rgba(255, 251, 251, 0.76);
}

h1 {
  color: blue;
  text-align: center;
}

h2.intro {
  color: blueviolet;
  font-style: italic;
  text-align: center;
}

p.intro {
  color: blueviolet;
  font-style: italic;
  text-align: center;
}

h3 {
  color: purple;
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  margin: 25px 100px;
  color: black;
}

.border {
  border-style: solid;
  border-color: #28a2c7;
  border: 3px;
  padding: 1em;
}
